/* 
    Created on : Apr 28, 2015, 7:50:35 PM
    Author     : Aishwarya Sharma
*/

@import url(http://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic,900,900italic);

body {
    background: #000;
    margin:0;
    padding:0;
    font-size: 1.3em; /* Base font size is 14px */
    font-family: 'Alegreya', serif;
    line-height: 1.5;
    text-align: left;
    color: #de9366;
    font-weight: 200;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Element Defaults */

h1 {
    color: #ccc;
    font-size: 2.0em;
}

h2 {
    color: #ccc;
    font-size: 1.8em;
    letter-spacing: 0px;
    font-weight: normal;
    padding: 0 0 5px;
    margin: 0;
}

h3 {
    color: #11bd16;
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

p {
    line-height: 1.9em;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #cc0066
}

a:hover, a:active {

}

/* Classes are styled from here on */

.content {
    margin: 0 auto;
    width: 70%;
    clear: both;
    overflow: hidden;
}

.content-header h1 {
    width: 100%;
    height: auto;
    text-align: center;
}

/* Top Bar Start */

#pull {
    display: none;
}

.content-header nav {
    background-color: #990000;
    height: 40px;    
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;    /* For Mozilla browsers */
    -webkit-border-radius: 5px; /* For Google browsers */
}

.sticky nav {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.content-header nav ul {
    list-style: none;
    margin: 0 5em;
}

.content-header nav ul li {
    display: inline;
}

.content-header nav a:link, .content-header nav a:visited {
    color: #ffffff;
    display: inline-block;
    padding: 5px 25px;
    height: 30px;
}

.content-header nav a:hover, .content-header nav a:active,
.content-header nav .active a:link, .content-header nav .active a:visited {
    background-color: #9999ff;
    text-shadow: none;
    font-weight: bold;
}

.content-header nav ul li a {
    border-radius: 10px;
    -moz-border-radius: 10px;    /* For Mozilla browsers */
    -webkit-border-radius: 10px; /* For Google browsers */
}

@media screen and (max-width: 760px) {
    .content-header nav ul li {
        display: none;
    }

    #pull {
        display: block;
    }

    .content-header nav ul {
        margin-left: 35%;
        position: absolute;
    }

    .content-header nav ul li a:link, .content-header nav ul li a:visited {
        height: 100%;
    }

    /* On hover */
    .content-header nav ul:hover li {
        display: block;
        background-color: #990000;
    }
}

/* Top Bar End */

/* Side Bar Start */

.side-nav-wrapper {
    background-color: #990000;
    height: auto;
    width: 10%;
    float: left;
    margin-left: 2%;
    margin-top: 15%;
    position: fixed;
    border-radius: 10px;
    -moz-border-radius: 10px;    /* For Mozilla browsers */
    -webkit-border-radius: 10px; /* For Google browsers */
}

.side-nav-wrapper ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.side-nav-wrapper a:link, .side-nav-wrapper a:visited {
    color: #ffffff;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.side-nav-wrapper a:hover {
    background-color: #9999ff;
    text-shadow: none;
    font-weight: bold;
}

.side-nav-wrapper ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;    /* For Mozilla browsers */
    -webkit-border-radius: 5px; /* For Google browsers */
}

@media screen and (max-width: 920px) {
    .side-nav-wrapper {
        display: none;
    }
}

/* Side Bar End */
